# This file contains all the parameter
# Entry Pattern: ShortFlag|FullName|Parameter Name|Description

# To load the configuration file
-p1|--parameter1|PAR1|Description for Parameter 1
-p2|--parameter2|PAR2|Description for Parameter 2
-p3|--parameter3||Description for Parameter 3
-p4|--parameter4|PAR4|Description for Parameter 4
-p5|--parameter5|PAR5|Description for Parameter 5
-p6|--parameter6||Description for Parameter 6
#-p7|--parameter7|PAR7|Description for Parameter 7
#-p8|--parameter8|PAR8|Description for Parameter 8
#-p9|--parameter9|PAR9|Description for Parameter 9
#-p10|--parameter10|PAR10|Description for Parameter 10
#-p11|--parameter11|PAR11|Description for Parameter 11
#-p12|--parameter12|PAR12|Description for Parameter 12
#-p13|--parameter13|PAR13|Description for Parameter 13
#-p14|--parameter14|PAR14|Description for Parameter 14
#-p15|--parameter15|PAR15|Description for Parameter 15
#-p16|--parameter16|PAR16|Description for Parameter 16