# This file contains all the parameter
# Entry Pattern: ShortFlag|FullName|Parameter Name|Description

# To load the configuration file
-s1|--sample-1|P1|Description1
-s2|--sample-2|P2|Description2
-s3|--sample-3|P3|Description3
-s4|--sample-4|P4|Description4
-s5|--sample-5|P5|Description5
-s6|--sample-6|P6 efkw|Description6